<html>
  <head>
    <meta charset="UTF-8">
    <base href="/">
    <title>{{app.appName}} - {{title}}</title>
    <link rel="icon" href="appicon.ico" />
    <link rel="stylesheet" type="text/css" href="style.css">
    {{app.reloadScript}}
  </head>
  <body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
  </body>
</html>
