{% extends "../../master.twig" %}
{% set title = 'LogOut' %}
{% block content %}
    <form method="POST" action="logout">
        {{settings.csrfHiddenInput}}
        <input type="submit" value="DéConnection">
    </form>
{% endblock %}
