{% extends "_master.twig" %}
{% set title = 'Resultat' %}
{% block content %}
    <h1>Résultat addition {{vm.a}} + {{vm.b}}</h1>
    <h2>Total: {{vm.total}}</h2>
    <h2><a href="/addForm">Nouvelle addition</a></h2>
    <h2><a href="/">Retour au Menu</a></h2>
{% endblock %}

