{% extends "_master.twig" %}
{% set title = 'Menu' %}
{% block content %}
    <h1>Menu</h1>
    <ul>
        <li><a href="addForm">Addition</a></li>
        <li><a href="subForm">Soustraction</a></li>
        <li><a href="appError">appError</a></li>
        <li><a href="internalError">internalError</a></li>
    </ul>
{% endblock %}
