{% extends "../../master.twig" %}
{% set title = 'Addition' %}
{% block content %}
    <form method="POST" action="addition">
        {{settings.csrfHiddenInput}}
        a: <input type="number" name="a" value="0"/>
        b: <input type="number" name="b" value="0"/>
        <input type="submit" value="Additionner">
    </form>
{% endblock %}
