{% extends "../../master.twig" %}
{% set title = 'Resultat' %}
{% block content %}
    <h4>Résultat addition {{vm.a}} + {{vm.b}}</h4>
    <h3>Total : {{vm.total}}</h3>
    <h4><a href="/addition">Nouvelle addition</a></h4>
{% endblock %}

