{% extends "../../master.twig" %}
{% set title = 'Resultat' %}
{% block content %}
    <h1>Résultat addition {{vm.a}} + {{vm.b}}</h1>
    <h2>Total : {{vm.total}}</h2>
    <h2><a href="/addition">Nouvelle addition</a></h2>
{% endblock %}

